*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #DCD0FF;
}



h1{
    margin-top: 40px;
    background-color: rosybrown;
    height:auto;
    width: 800px;
    font-size: 60px;
    border-radius: 20px;
    
}
    /* Common code in div */

.d{
       background-color: rosybrown;
       border: 5px solid red;
       display: inline-block;
        width: 300px;
        height: 800px;        
        margin: 70px 20px;
        border-radius: 20px;
        overflow: hidden;
    }
   
.h3{
    margin-top: 30px;
    font-size: 25px;
   
}

.p3{
    margin-top: 20px;
    font-size: 16px;
    color: white;
}
.p4{
    display: inline-block;
    margin-top: 20px;
    text-decoration: line-through;
    

}
.btn4{
    height: 25px;
    width: 75px;
    border-radius: 30px;
    
}

.h5{
    margin-top: 10px;
   
}
.b2{
    font-size: 30px; 
}


.btn6{
    transition: 0.5s ;
    border: none;
    margin: 30px;
    border-radius: 20px;
    height: 40px;
    width: 250px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.btn6:hover{
    
    background-color: teal;
    color:white; 
}

.h7{
   
     margin-left: 10px;
    
   font-size: 20px;
   text-align: left;
    
}
img{
    height: 15px;
    width: 15px;
    border-radius: 20px;
   
    
}

   /* First div */



    /* Second div */

     #udiv2{
        width: 300px;
        height: 850px;        
    } 

.btn2{
    border: none;
    background-color: royalblue;
    height: 50px;
    width: 300px;
   
    font-size: 20px;
    cursor: pointer;
    color: black;
}
.btn2:hover{
    background-color: teal;
    color:white; 
}

     /* Third div */
